rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // supplements コレクションに対するルール
    match /supplements/{supplementId} {
      // 認証済みのユーザーのみがデータを読み書きできるようにする
      allow read, write: if request.auth.uid != null;

      // ドキュメントの userId フィールドがリクエストのユーザーIDと一致する場合のみ、読み書きを許可する
      allow read, write: if request.auth.uid == resource.data.userId;
    }
  }
}
